
img.top-photo{
    width: 100%;
}
.top{
    position: relative;
    padding-bottom: 50px;
}
.top-mes{
    position: absolute;
    
}

.top-mes1{
    top: 10vw;
    right: 13vw;
}
.top-mes2{
    top: 10vw;
    right: 21vw
}
.top-mes3{
    top: 10vw;
    right: 29vw;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pad-logo{
    padding: 50px 0 40px 0;
}
.pad-logo2{
    padding: 25px 0 40px 0;
}
.text-title{
    font-family: "游ゴシック体", YuGothic;
    font-size: 36px;
    font-weight: Bold;
    color: #333333
}
.concept{
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.text-concept{
    font-family: "游ゴシック体", YuGothic;
    font-size: 26px;
    font-weight: Bold;
    color: #333333;
    padding-top: 30px;
}
.br{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlite{
    background: linear-gradient(transparent 80%, #FFF200 0%);
}

/*こだわり*/
.comit{
    background-color: #FFFDF6;
    
}
.comit-content1, .comit-content3{
    display: flex;
    flex-direction: row;
}
.comit-content2{
    display: flex;
    flex-direction: row-reverse;
}
.weed, .comit-top{
    max-height: 22.5vw;
}
.comit-logo{
    width: 8.108vw;
}

.logo-subtitle{
    display: flex;
    flex-direction: row;
}
.comit-text-wrapper{
    display: flex;
    flex-direction: column;
}
.comit-content{
    width: 73%;
    margin: 0 13.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.collapse, .collapse2{
    padding-bottom: 70px;
}

/*オンラインストア*/
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 8px gray;
}

.s-set{
    max-width: 20.27vw;
}
.online-store{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button {
    width:220px;
    height: 62px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #295525;
    border-radius:50px;

    font-family: "游ゴシック体", YuGothic;
    font-size: 22px;
    font-weight: Bold;
    color:  #ffffff;
}
.center{
    width: 100%;

    display: flex;
    text-align: center;
    justify-content: center;

    padding: 60px 0 40px 0;
}
/*お知らせ*/
.news{
    background-color: #FFFDF6;
}
.news-photo{
    width: 20.946vw;
    margin: 0.676vw;
}

.news-category{
    position: relative;
    width: 20.946vw;
}

.text-category{
    font-family: "游ゴシック体", YuGothic;
    font-size: 14px;
    font-weight: Bold;
    color:  #295525;
    
    position: absolute;
    top: 0.676vw;;
    right: -0.676vw;;

    background-color: #FFF200;

    width: 82px;
    height: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.news-list{
    box-shadow: 0 0 8px gray;
    width: 22.297vw;
}
.news-box{
    display: flex;
    align-items: flex-start;
}
.news-content{
    display: flex;
    justify-content: center;
}
/*親子イベント*/
.event{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}
.event-content{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.event-photo{
    position: relative;
}
.event-logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.event-year{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    padding: 70px 23px;

    border: 3px dashed #090803;
}
.arrow{
    height: 64.75px;
}
.pad-top{
    margin-top: 55px;
}
.arrow-center{
    width: 100%;

    display: flex;
    text-align: center;
    justify-content: center;

    padding-top: 5vw;
}

/*ギャラリー*/
.gallery{
    background-color: #FFFDF6;
}

.gallery-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    width: auto;
    height: auto;
}
.gallery-content{
    display: flex;
    flex-direction: column;
}
.gallery-content-1{
    display: flex;
    flex-direction: row;
}
.gallery-photo{
    width: 300px;
    height: 300px;
    object-fit: cover;
    
    margin: 12px;
}
.backcolor{
    background-color: #FFFDF6;
}

/*当園について*/
.aboutus-box{
    display: flex;
    justify-content: center;
    text-align: center;

    padding-bottom: 60px;
}
.aboutus-content{
    display: flex;
    width: 902px;
}
.text-aboutus{
    padding: 0 45px 0 45px;
    text-align: start;
    line-height: 31px;

}
.company-content1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.start{
    display: flex;
    text-align: start;

    width: 250px;
}

/*お知らせ*/
.news-photo2{
    width: 33.784vw;
    margin: 0.676vw;
}
.news-list2{
    box-shadow: 0 0 8px gray;
    width: 35.135vw;
}
.text-category2{
    font-family: "游ゴシック体", YuGothic;
    font-size: 18px;
    font-weight: Bold;
    color:  #295525;
    
    position: absolute;
    top: 0.676vw;
    right: 0.676vw;

    background-color: #FFF200;

    width: 120px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.news-category2{
    position: relative;
    width: 35.135vw;
}
.pad40{
    padding: 20px;
}
.news-box-horizontal{
    display: flex;
    align-items: flex-start;
}
.end{
    width: 86%;

    display: flex;
    justify-content: flex-end;

    padding: 60px 0 40px 0;
}

.store-vertical{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.store-horizon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1150px;
}
.store-item{
    box-shadow: 0 0 8px gray;
    padding: 10px 10px 20px 10px;
    margin: 20px;
}
.store-photo{
    width: 220px;
    height: 220px;
}