/*ヘッダー*/
ul {
    list-style: none;
}

header{
    height: 100px;
}

.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    max-width: 1080px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}

img.logo{
    width: 80px;
    height: 90px;
}
.logo2, .logo3{
    display: none;
}

.head-box:hover{
    border-bottom: 8px solid #FFF200;
}

/*フッター*/
.inner2 {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-photo img{
    width: 100vw;
    display: block;
}
.footer-end{
    width: 100%;
    height: 50px;
    background-color: #295525;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner3{
    display: flex;
}
.separate{
    padding: 0 33.5px;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    margin: 0 33.5px;
}

/*テキスト指定*/

.text1{
    font-family: "游ゴシック体", YuGothic;
    font-size: 18px;
    font-weight: Bold;
    color: #333333;
}
.text1-2{
    font-family: "游ゴシック体", YuGothic;
    font-size: 26px;
    font-weight: Bold;
    color: #333333;
}

.text2{
    font-family: "游ゴシック体", YuGothic;
    font-size: 14px;
    font-weight: Bold;
    color:  #295525;
}
.text2-2{
    font-family: "游ゴシック体", YuGothic;
    font-size: 18px;
    font-weight: Bold;
    color:  #295525;
}
.text3{
    font-family: "游ゴシック体", YuGothic;
    font-size: 16px;
    font-weight: Bold;
    color:  #333333;
}
.text4{
    font-family: "游ゴシック体", YuGothic;
    font-size: 14px;
    font-weight: Bold;
    color:  #ffffff;
}
.text5{
    font-family: "游ゴシック体", YuGothic;
    font-size: 3vw;
    color: #295525;
    background-color: #ffffff;
    font-weight: Bold;
    opacity: 0.8;

    padding: 2vw 1vw;

    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.text6{
    font-family: "游ゴシック体", YuGothic;
    font-size: 2.162vw;
    font-weight: Bold;
    color:  #333333;
}
.comit-text{
    font-family: "游ゴシック体", YuGothic;
    font-size: 1.216vw;
    font-weight: Bold;
    color: #333333;
}
.text7{
    font-family: "游ゴシック体", YuGothic;
    font-size: 20px;
    font-weight: Bold;
    color: #333333
}
.text8{
    font-family: "游ゴシック体", YuGothic;
    font-size: 20px;
    font-weight: Bold;
    color: #333333
}
.text-big{
    font-family: "游ゴシック体", YuGothic;
    font-size: 40px;
    font-weight: Bold;
    color:  #295525;
}
.text-event{
    font-family: "游ゴシック体", YuGothic;
    font-size: 36px;
    font-weight: Bold;
    color:  #295525;
}
.text-aboutus{
    font-family: "游ゴシック体", YuGothic;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}
.text-9{
    font-family: "游ゴシック体", YuGothic;
    font-size: 26px;
    font-weight: Bold;
    color: #333333;
    line-height: 65px;
}
.text-10{
    font-family: "游ゴシック体", YuGothic;
    font-size: 26px;
    font-weight: 500;
    color: #333333;
    line-height: 65px;
}


/*間隔空ける用*/
.pad10{
    padding: 10px 0;
}
.pad30{
    padding: 30px 0;
}
.pad60{
    padding-bottom: 60px;
}

.pad70{
    padding-bottom: 70px;
}
.pad-comit1{
    margin: 0 69px 0 12px;
}
.pad-comit-logo1{
    margin: 0 1.622vw 2.027vw 0.811vw;
}
.pad-comit2{
    margin: 2.027vw 2.432vw 0 3.041vw;
}
.pad-comit-logo2{
    margin: 0 1.622vw 0 3.041vw;
}

.padw45{
    margin: 0 3.041vw;
}
.pad15{
    margin: 15px;
}
.pad-1{
    margin: 25px 0;
}
.pad-2{
    margin: 15px 0 50px 0;
}
.pad-3{
    padding: 10px;
}
.pad-4{
    padding: 5px 0 20px 10px;
}
.pad-5{
    padding-top: 20px;
}
.pad-6{
    padding: 40px 0 8px 0;
}
.pad-7{
    padding-top: 20px;
}

/*背景*/
.yellow-wave{
    width: 100%;
    display: block;
}

.subtitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}