@media (max-width: 850px ) {
    /*header部分のコード*/
    .flex{
        align-content: flex-start;
        padding: initial;
    }
    .inner{
        display: block;
        padding-left: 15px;
    }

    .logo{
        font-size: 18px;
        padding: initial;
        padding-top: 10px;
    }
    .list li{
        font-size: 14px;
        padding: initial;
        padding-right: 14px;
    }

    .top{
        padding: initial;
        padding-bottom: 40px;
    }
    /*about部分のコード*/
    .about{
        margin-left: 16px;
    }
    .title{
        font-size: 22px;
    }
    .border{
        border: 3px solid#1F91BE;
        margin: initial;
        margin-bottom: 20px;
    }
    .about1 p{
        padding-bottom: 40px;
    }
    .about-img{
        padding: initial;
        padding-bottom: 20px;
    }
    .about1{
        padding: initial;
        padding-right: 15px;
    }
    .subtext{
        padding: initial;
        padding-bottom: 60px;
    }
    /*news部分のコード*/
    .news{
        margin-left: 16px;
    }
    .news-link{
        font-size: 14px;
    }
    .news-link-area{
        display: flex;
        justify-content: center;
    }

    /*photo部分のコード*/
    .photo{
        padding: initial;
    }

    /*category部分のコード*/
    .title2{
        font-size: 22px;
    }

    /*footer部分のコード*/
    footer{
        font-size: 10px;
        margin-top: initial;
        margin-top: 60px;
        height: 40px;
    }
}

@media (max-width: 1220px ) {
/*メイン画像下部の半分部分のコード*/
    .article-wrapper, .side-wrapper{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        width: 100%;
    }
    .side-wrapper{
        margin: initial;
        padding: initial;
        

        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

/*about部分のコード*/
    .about{
        margin: initial;
        padding: initial;
        padding: 0 15px 0 15px;
    }
    .about1{
        display: flex;
        flex-direction: column;
        margin: initial;
        padding: initial;
        
        align-items: center;
        width: 100%;
    }
    .about2{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        width: 100%;
    }
/*news部分のコード*/
    .news{
        margin: initial;
        padding: initial;
        padding: 0 15px 0 15px;
    }

/*photo部分のコード*/
    .photo{
        margin: initial;
        padding: initial;
        padding: 0 15px 0 15px;
    }

/*category部分のコード*/
    .category li{
        margin: initial;
        padding: initial;
        padding-bottom: 13px;
        
    }

    .category{
        max-width: 700px;
        width: 100%;
        padding: 0 15px 0 15px;
    }


}